#content {
	width: 700px;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	font-family: 'Droid Serif', 'sans-serif';
	color: #222222;
}
p {
	font-size: 15px;
	line-height: 24px;
}
pre {
	width: 600px;
	font-size: 14px;
	line-height: 16px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
pre, code {
	font-family: 'Droid Sans Mono';
	color: #444444;
	background-color: #f2f2f2;
}
.square {
	height: 55px;
	width: 55px;
	float: left;
	font-size: 30px;
	text-align: center;
	line-height: 55px;
	color: #444;
}
.demo {
	height: 55px;
	margin-top: 5px;
	margin-bottom: 20px;
}
footer {
	margin-top: 90px;
	margin-bottom: 20px;
	font-size: 14px;
	text-align: right;
}
