html, body {
	width: 100%;
	height: 100%;
}
#content {
	width: 700px;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	font-family: 'sans-serif';
	color: #222222;
}
p {
	font-size: 15px;
	line-height: 24px;
}
pre {
	margin-left: 10px;
	margin-right: 10px;
	color: #444444;
}
.square {
	height: 55px;
	width: 55px;
	float: left;
	font-size: 30px;
	text-align: center;
	line-height: 55px;
	color: #444;
}
.demo {
	height: 55px;
	margin-top: 5px;
	margin-bottom: 30px;
}
