<!doctype html>
<head>
  <meta charset="utf-8">
  <title>colorspaces.js</title>
  <meta name="description" content="colorspaces.js - a tiny jQuery library for manipulating colors">
  <meta name="author" content="Alexei Boronine">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Droid+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
<a href="http://github.com/boronine/colorspaces.js"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
<div id="content">
<header>
<h1>colorspaces.js</h1>
<p>A tiny <a href="http://jquery.com">jQuery</a> and <a href="http://nodejs.org">Node.js</a> library for manipulating colors. Works as a <a href="http://learnboost.github.com/stylus/">Stylus</a> plugin!</p>
</header>
{{ content }}
<footer>
&copy; Copyright 2011 by Alexei Boronine
</footer>
</div>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26004435-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>
</html>
